/* 
 wFORMS 2.0 Stylesheet - Default Theme v3 - Aug. 2006
 See http://www.formassembly.com/wForms
 
 To be used along with wforms-jsonly.css
 This stylesheet and the associated images are Copyright (c) 2005 Cedric Savarese (http://www.4213miles.com)	
 and licensed under the Creative Commons Attribution-ShareAlike License (http://creativecommons.org/licenses/by-sa/2.0/) 
*/
 
form {
	padding: 10px;
}

/* Form Sections ======================================================================== */
/* Fieldset  */
fieldset {
	margin: 20px 0;
	padding: 15px 10px;
}
legend {
	padding: 2px 5px;
}
/* Nested Fieldset  */
fieldset fieldset  {
}
fieldset fieldset legend {
}
/* Inline Section */
.inlineSection {
	overflow: auto;
	width: 100%;
}
/* Grid Section */
form table {
	border-collapse: collapse;
}
form td {
	padding: 0 4px;
}
form th {
	padding: 0 4px;
}
form .alternate-1 {
	background-color:#F1F1F1;
}
form .alternate-0 {
}

/* Combo Label + Input Field =========================================================== */
form .oneField {
	
}
form .inlineSection .oneField {
	float: left;	
	padding: 0;
	margin-right: 4px;
}
/* Ties together a label and its checkbox or radio */
form .oneChoice {
	white-space: nowrap; 
}

/* Field Labels ======================================================================== */

/* Base */
label, form .label {	
	color: #333;
	font-size: small;
}
/* Text inputs / Select label */
label.preField {
	display: block;
	padding: 2px;
	margin: 0.4em 4px 0 0;
}
/* Radio / Checkbox group label */
form .label  {
	display: block;
	padding: 2px;
	margin: 0.4em 4px 0 0;
}
/* Individual Checkbox / Radio label */
label.postField  {
	margin: 0 4px 0 4px;
}
/* Label when inside an inline section */
.inlineSection .oneField .inlineLabel {
	display: block;	
	padding: 0 3px;
	margin: 0.4em 4px 0 0;
}

/* Inputs ======================================================================== */

textarea {
	padding: 0;
	vertical-align: top;
	margin: 2px 2px 1px 0;
}
input {
	margin: 0 2px 0 0;
}
select {
	padding: 0;
	margin: 2px 2px 1px 0;
}
.inlineSection .oneField select {
	margin: 0 2px 1px 0 !important;
}
.gridSection select  {
	margin: 0 !important;
}

/* Buttons ======================================================================= */

form .actions {
	text-align: center;
	margin: 20px 0 10px 0;		
}
/* Submit button */
form .primaryAction {
}
/* Cancel button */
form .secondaryAction {
	color: grey;
}
form .secondaryAction:hover {
	color: black;
}


/* Form Builder Related Rules ===================================================== */

/* Form or Fieldset instruction paragraph. */
form .instructions {
	margin: 1em 0;
}
/* Asterisk on required fields */
form .reqMark {
	color: #F00;
	padding: 0 4px;
}

/* wForms Related Rules ========================================================== */

/* Field w/ a validation error */
form .errFld {
	padding: 1px;
	border: 1px solid #F00;
}
/* Styling for message associated with a validation error. */
form .errMsg {	
	color: #CC3333 !important;
	display: block;
}
/* Field-Hint with focus */
form .field-hint {
	color: #000;
	float: right;
	width: 220px;
	margin: 15px 0 0 0;
}
/* Field-Hint without focus */
form .field-hint-inactive {
	color: #666;
	float: right;
	clear: right;
	width: 220px;
	margin: 15px 0 0 0;
}
/* Repeat Behavior divs (when not set on a fieldset) */
div.repeat {
	border: 1px dotted #ccc;
	margin: 3px 0;
	padding-right: 3px;
}
div.removeable {
	border: 1px dotted #ccc;
	padding-right: 3px;	
}
/* Links generated by the Repeat Behavior */
form .duplicateLink {
	line-height: 260%;
	color: #5C594E;
}
form .removeLink {
	line-height: 260%;
	color: #CC3300;
}
form td .duplicateLink, form td .removeLink  {
	margin: 0;
	line-height: 100%;
}
/* Switch Behavior Classes */
.onstate-a,  .onstate-b,  .onstate-c,  .onstate-d,
.onstate-e,  .onstate-f,  .onstate-g,  .onstate-h, 
.onstate-i,  .onstate-j,  .onstate-k,  .onstate-l, 
.onstate-m,  .onstate-n,  .onstate-o,  .onstate-p, 
.onstate-q,  .onstate-r,  .onstate-s,  .onstate-t,
.onstate-u,  .onstate-v,  .onstate-w,  .onstate-x,  
.onstate-y,  .onstate-z,  .onstate-aa, .onstate-ab,
.onstate-ac, .onstate-ad, .onstate-ae, .onstate-af,
.onstate-ag, .onstate-ah, .onstate-ai, .onstate-aj,
.onstate-ak, .onstate-al, .onstate-am, .onstate-an {
	display: block;
}
/* offstate classes for the Switch Behavior are in wforms-jsonly.css */


/* IE6 BUG FIXES ==================================================================== */
form {
	height:expression('1%'); /* IE Pick-a-boo bug fix */
}
form fieldset {
	position:expression('relative'); /* Fixes IE problem with fieldset+legend boundaries */
	margin-top:expression('1em');
	padding-top:expression('1.5em');
}
form fieldset legend {
	position: expression('absolute'); 
	top: expression('-.5em'); /* Fixes IE problem with fieldset+legend boundaries */
	left:expression('.5em');
}
