#unit-availability-update-form fieldset,#unit_availability fieldset,#unitavailability tr{
	border:none;
}

#unit_availability td{
	padding:0;
	height: 1.5em;
	text-align:center;
	vertical-align: center;
}

#unit_availability table{
	table-layout: fixed;
	width:160px;
}

#unit_availability .tableblock{
	float:left;
	display:block;
	margin-left:5px;
}

#unit_availability .rowblock{
	clear:both;
	margin-top:5px;
}

#unit_availability  h5{
	margin-bottom:5px;
}

#unit_availability th{
	text-align:center;
}

#unit_availability .unavailable,#unit_availability .booked,#unitavailability .unavailable,
.availabilitykey td.unavailable:hover,.availabilitykey td.unavailable{
	background-color:red;
}

#unit_availability .past,#unit_availability td{
	background-color: #ddd;
}

#unit_availability .available,#unitavailability .available,.availabilitykey .available{
	background-color:lightgreen;
}

#unit_availability .pending,.availabilitykey td.pending:hover,.availabilitykey td.pending,#unitavailability .pending{
	background-color:yellow;
}

.availabilitykey td.booked:hover,.availabilitykey td.booked,#unitavailability .booked{
	background-color:orange;
}

#unitavailability table{
  empty-cells: hide;
  margin-bottom : 5px;
}

#unitavailability td, .availabilitykey td{
  vertical-align: top;
  height: 3em;
  padding: .3em;
}

.availabilitykey td{
  vertical-align: middle;
  }
  
#unitavailability td:hover{
  background-color: #fcc;
}
#unitavailability .past{
  background-color: #ccc;
}

#unitavailability .unavailable.today {
  background-color: #eee;
}

#unit_availability .unitkey{
font-size:9px;
padding-top:10px;
clear:both;
}

#unit_availability .key{
display:inline;
padding-left:5px;
}

#unit_availability .keypending{
border-left:10px solid yellow;
margin-left:10px;
}

#unit_availability .keyunavailable{
border-left:10px solid red;
margin-left:10px;
}

#unit_availability .keyinstant{
border-left:10px solid lightgreen;
margin-left:5px;
}